@import url('../areaRestritaGlobal.css');

/* Container da página */
.page-container{
    display: flex;
}
.container{
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.spacing{
    min-width: 80px;
}

/* Caixa de filtros */
.filtro-container *{
    user-select: none;
}
.filtro-container{
    position: relative;
    margin-top: 50px;
    width: 90%;
    min-height: 180px;
}
.header-filtro{
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--beige);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.header-filtro h1{
    width: 98%;
    font-family: var(--lilita-one), serif;
    color: var(--asereje-yellow);
    font-weight: normal;
    font-size: 30px;
    margin: 30px 0 5px 0;
}
.header-filtro hr{
    display: block;
    border: 1px solid var(--asereje-yellow);
    width: 98%;
}
.header-filtro .filtro-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-filtro .filtro-info h2{
    font-family: var(--lilita-one), serif;
    color: var(--off-white);
    background-color: var(--asereje-yellow);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: normal;
    margin-left: 20px;
}
.acoes-filtro{
    margin-right: 20px;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.acoes-filtro label{
    cursor: pointer;
    min-height: 45px;
    min-width: 45px;
    border: none;
    border-radius: 10px;
    background-color: var(--wood-brown);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}
.acoes-filtro .pesquisar{
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
}
.acoes-filtro .pesquisar input{
    width: 100%;
    height: 45px;
    background-color: var(--beige);
    border: 1px solid var(--wood-brown);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    color: var(--black);
}
.pesquisar input::placeholder{
    color: var(--wood-brown);
}
.pesquisar img{
    position: absolute;
    right: 20px;
}

/* Abrir/Fechar filtros */
#open-btn{
    display: none;
}
#open-btn:checked ~ .header-filtro #filtrar, #open-btn:not(:checked) ~ .header-filtro #parar-filtro{
    pointer-events: none;
}
#open-btn:checked ~ .filtro{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    bottom: -120px;
}
body:has(#open-btn:checked) table{
    margin-top: 150px;
}

/* Filtros */
.filtro{
    background-color: var(--beige);
    padding-top: 50px;
    border-radius: 20px;

    width: 100%;
    height: 120px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    position: absolute;
    bottom: 0;
    transition: bottom .5s, box-shadow .5s;
}
.filtro .data{
    margin-left: 20px;
}
.filtro input{
    height: 40px;
    width: min(200px, 10vw);
    background-color: var(--off-white);
    border: 1px solid rgba(25, 25, 25, 0.3);
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.filtro div{
    position: relative;
}
.data h3, .id h3{
    position: absolute;
    font-family: var(--lilita-one), serif;
    font-weight: normal;
    color: var(--asereje-yellow);
    box-sizing: border-box;
    padding-left: 20px;
    top: -20px;
}
.data input::-webkit-calendar-picker-indicator{
    padding-right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../assets/images/calendar_month.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.id input{
    width: min(100px, 10vw);
}
.filtro button{
    cursor: pointer;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--asereje-yellow);
    color: var(--off-white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
}
#dica-hoje{
    padding: 0 20px;
}
.acoes-filtro #adicionar{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--asereje-yellow);
    color: var(--off-white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

/* Tabela de Dicas */
table tr{
    grid-template-columns: 0.2fr 0.7fr 1fr 1fr 0.3fr 0.3fr;
}
.id-dica{
    text-align: center;
}

/* Form da textarea para dar mais espaço para visualizar o campo*/
.form-input:nth-child(3){
    height: 200px;
}


/* Responsividade */
/* CSS */
.table-container {
    width: 90%;
    overflow-x: auto; /* Habilita a rolagem horizontal */
    border-radius: 20px;

    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    min-width: 1100px; /* Largura mínima da tabela */
    border-collapse: collapse;
}
@media (max-width: 1200px){
    #form-adicionar, #form-editar, .confirm-box{
        width: 80vw;
    }
    .container{
        max-width: 87vw;
    }
}
@media (max-width: 750px){
    .filtro-info h2{
        display: none;
    }
    .header-filtro .filtro-info{
        justify-content: center;
    }
    .acoes-filtro{
        margin-left: 20px;
    }
    .filtro .data{
        display: none;
    }
    .filtro .id input{
        margin-left: 20px;
        width: 100px;
    }
    .filtro .id h3{
        margin-left: 20px;
    }
    #dica-hoje{
        font-size: 15px;
        margin-right: 20px;
        min-height: 40px;
        height: fit-content;
    }
}
@media (max-width: 540px){
    .acoes-filtro .pesquisar, .perfil .info{
        display: none;
    }
    header .perfil{
        justify-content: flex-end;
    }
    .perfil .foto{
        margin-right: 20px;
    }
}