@import url('../areaRestritaGlobal.css');

.filtro .data{
    margin-left: 20px;
}
.data input::-webkit-calendar-picker-indicator{
    padding-right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../../assets/images/calendar_month.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
#dica-hoje{
    padding: 0 20px;
}
/* Form da textarea para dar mais espaço para visualizar o campo*/
.form-input:nth-child(3){
    height: 200px;
}