@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap');

:root{
    /* neutral */
    --black: #252525;
    --off-white: #F5EDF0;
    --beige: #EBDFD3;


    /* primary */
    --water-blue: #2D8580;
    --is-it-green: #2E6C56;
    --asereje-yellow: #CF8C3D;
    --wood-brown: #73482F;
    --red-or-orange: #c54432;

    /* secondary */
    --water-blue-light: #80BFBB;
    --is-it-green-light: #59B594;
    --asereje-yellow-light: #E3B681;
    --wood-brown-light: #BC8160;
    --red-or-orange-light: #DB755F;

    /* fonts */
    --lilita-one: 'Lilita One', sans-serif;
    --varela-round: 'Varela Round', sans-serif;

}

header{
    background-color: var(--water-blue);
    font-family: var(--varela-round), serif;
    height: 60px;
    font-size: 17px;
    color: var(--off-white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

#header-logo{
    margin: 0 20px;
}
#header-contatos{
    margin-right: 20px;
    list-style: none;
    height: 100%;
    width: fit-content;
    gap: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-contatos li{
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#header-contatos li:last-of-type{
    display: none;
}
#header-contatos li a{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
#header-contatos li:not(.usuario) a::after{
    transition: transform .3s;
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    background-color: var(--off-white);
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
}
#header-contatos li a:hover::after{
    transform: scaleX(1);
}
#header-contatos li a img{
    height: 30px;
}
#header-contatos img{
    height: 50%;
}

footer{
    margin-top: 50px;
    background-color: var(--water-blue);
    color: var(--off-white);
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;
}
footer>p{
    font-size: 12px;
}
/* Seção de contato */
#entre-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2vw;
}
#entre-contato img{
    height: 24px;
}


.confirm-box-container{
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-box{
    width: 30%;
    padding: 0 20px;
    min-height: 500px;
    border-radius: 20px;
    background-color: var(--off-white);
    box-shadow: 0 4px 2px 0 rgba(0,0,0,.25);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
.confirm-box h1{
    font-family: var(--lilita-one), serif;
    font-weight: normal;
    color: var(--is-it-green);
    font-size: 50px;
    margin: 20px 0;
}
.confirm-box p{
    text-align: center;
    width: 90%;
    font-size: 20px;
}
.confirm-box img{
    height: 400px;
    margin: 10px 0;
}
.confirm-box form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}
.confirm-box form button{
    cursor: pointer;
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: var(--lilita-one), serif;
    color: var(--off-white);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}
.confirm-box form button:first-of-type{
    background-color: rgba(37, 37, 37, 0.4);
    color: rgb(88, 88, 88);
}
.confirm-box form button:last-of-type{
    background-color: var(--red-or-orange);
}

/*Responsividade do footer*/
@media(max-width: 500px){
    footer{
        display: grid;
        grid-template:
                ". logo logo ."
                "cr cr contato contato";
        justify-content: space-between;
    }
    footer p{
        grid-area: cr;
    }
    footer img{
        grid-area: logo;
        justify-self: center;
    }
    footer ul{
        grid-area: contato;
    }
}